.title{
  color:#02020B !important;
}

.author{
  color:#02020B;
}
img{
  width:80%;
  border-radius:10px;
}
.col-image{
  padding:0px 0px 0px 10px  !important;
}

.description{
  font-size: 14px;
  color:#02020B;
}
.col-description{
  padding: 0px 10px 0px 0px !important;
}

.noResults{
  background-color:white;
  border-radius:5px;
  padding:10px;
}

body{
  background-color:#7FB069;
}
.jumbotron{
  margin-top:20px;
  background-color:#ECE4B7;
  border: 2px solid #D36135;
}
.searchBtn{
  background-color:#D26135 !important;
  border-color:#E6AA68 !important;
  border:2px solid #E6AA68;
}
.searchBtn:hover,.searchBtn:active{
  border-color:#E6AA68;
  border:3px solid #E6AA68;
}

@media only screen and (max-width: 600px) {
  img{
    width:90%;
  }
  .description{
    font-size: 10px;
  }
}